.social {
  display: flex;
  align-items: flex-end;
}

.social__item {
  margin: 0 6px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  fill: $icons;
  transition-property: fill;
  transition-duration: 500ms;
}

.social__link {
  &:hover .social__icon,
  &:active .social__icon {
    fill: $hover;
  }
}
